@model IEnumerable<Bislerium.Domain.Entity.Blogs.Comment>

@{
    Layout = "_Admin";
    ViewData["Title"] = "ListAllComments";
}

<div class="container">

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Comments</h5>

        </div>
        <div class="card-body">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpVotes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DownVotes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CommentBlog)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CommentUser)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpVotes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DownVotes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Blog.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Name)
                            </td>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" asp-controller="Comment">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
