@model IEnumerable<Bislerium.Domain.Entity.Blogs.Blog>

@{
    Layout = "_Admin";
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="container">

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Blogs</h5>

        </div>
        <div class="card-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpVotes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DownVotes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Popularity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Blogger)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.Raw(item.Content.Length > 200 ? item.Content.Substring(0, 200) + "..." : item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpVotes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DownVotes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Popularity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlogCategory.NameOfCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Name)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img src="~/images/blogs/@item.ImageUrl" height="50px" width="50px" />
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" asp-controller="Blog">Details</a>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.content').each(function () {
            var content = $(this).text();
            var words = content.split(' ');
            if (words.length > 5) {
                $(this).text(words.slice(0, 5).join(' ') + '...');
            }
        });
    });
</script> *@